<%- include('../include/header.ejs') %> 
<%- include('../include/sidebar.ejs') %> 
<%- include('../include/navbar.ejs') %> 

            
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3><%= pageTitle %> </h3>
                
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/data/all">Data</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%= pageTitle %> </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <!-- Basic Horizontal form layout section start -->
    <section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-lg-7 col-md-10 col-12">
        <div class="card">
            <div class="card-header">
            <h4 class="card-title"></h4>
            </div>
            <div class="card-content">
            <div class="card-body">
                <% if(errorMessage) { %> 
                <div class="alert alert-danger alert-dismissible show fade">
                    <%= errorMessage %> 
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
                <% if(msgSuccess) { %> 
                    <div class="alert alert-success alert-dismissible show fade">
                        Edit data success ✅
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% } %> 

                <form action="" class="form form-horizontal" novalidate enctype="multipart/form-data" method="POST" autocomplete="off">
                <div class="form-body">
                    <% allData.forEach(data => {  %> 
                        <p class="text-subtitle text-muted mb-5">Dibuat Tanggal: <%= data.created_at %> </p>
                    <div class="row">
                        <div class="col-md-4">
                            <label>No Internet</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <input name="no_internet" type="text" class="form-control <%= validationErrors.find(e => e.param === 'no_internet') ? 'is-invalid' : '' %>" value="<%= data.no_internet %>" id="first-name-icon">
                                    <div class="form-control-icon">
                                        <i data-feather="wifi"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>SN</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <input type="text" name="sn" class="form-control <%= validationErrors.find(e => e.param === 'sn') ? 'is-invalid' : '' %>" value="<%= data.sn %>" id="first-name-icon">
                                    <div class="form-control-icon">
                                        <i data-feather="smartphone"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Status</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <select  name="status" class="form-select" id="basicSelect" <%= validationErrors.find(e => e.param === 'status') ? 'is-invalid' : '' %>>
                                        <% if(data.status === 'NOK') { %> 
                                            <option>NOK</option>
                                            <option>Kendala</option>
                                            <option>Done</option>
                                        <% } else if(data.status === 'Kendala') { %>
                                            <option>Kendala</option>
                                            <option>Done</option>
                                            <option>NOK</option>
                                        <% } else { %>
                                            <option>Done</option>
                                            <option>NOK</option>
                                            <option>Kendala</option>
                                        <% } %>   
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Alamat</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <input type="text" name="alamat" class="form-control <%= validationErrors.find(e => e.param === 'alamat') ? 'is-invalid' : '' %>" value="<%= data.alamat %>" id="first-name-icon">
                                    <div class="form-control-icon">
                                        <i data-feather="home"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Keterangan</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group has-icon-left">
                                <div class="position-relative">
                                    <textarea style="height: 100px;" type="text" name="keterangan" class="form-control <%= validationErrors.find(e => e.param === 'keterangan') ? 'is-invalid' : '' %>" id="first-name-icon"><%= data.keterangan %></textarea>
                                    <div class="form-control-icon">
                                        <i data-feather="edit"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-12 d-flex justify-content-end ">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Edit</button>
                        <button type="reset" class="btn btn-light me-1 mb-1">Reset</button>
                    </div>
                    </div>
                    <% }); %> 
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    <a class="btn btn-badge btn-secondary" href="/data/all"><i data-feather="arrow-left"></i> Back</a>
    </section>


</div>

<%- include('../include/footer.ejs') %> 